body:{
margin: 0 auto;
padding: 0%;
background-repeat: no-repeat;
}

h1 {
    color: aqua;
}
h3{
    color: burlywood;
}

h4{
    color: chocolate;
    font-size : 100px;
}

.div1 {
    background-color: crimson;
    width: 100px;
    height: 200px;
}

p {
color : red;
font-size:40px;
}

